body {
    padding: 0;
}

.wrap {
    position: absolute;
}

.message {
    position: relative;
    top: 5rem;

    border-style: solid;
    padding: 0.5rem;
    background-color: #ccc;
    margin-bottom: 0.5rem;
}

.normalMessage {
    border-color: darkgreen;
    color: darkgreen;
}

.errorMessage {
    border-color: darkred;
    color: darkred;
}
